.experience-list-item {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-block: 2rem;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity var(--transition-speed) ease-out,
    transform var(--transition-speed) ease-out;
}

.experience-list-item--state-hidden {
  opacity: 0;
  transform: translateY(50px);
}

.experience-duration-display {
  margin-top: 0;
  color: var(--primary-color-dark);
  min-width: 8rem;
}

.experience-content h3 {
  margin-top: 0;
  color: var(--primary-color-dark);
}

.experience-content p {
  color: var(--grey-color);
}

.experience-content ul {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding-left: 0;
}

.experience-content ul li {
  background-color: color-mix(
    in srgb,
    var(--accent-color-dark) 20%,
    transparent
  );
  padding: 0.125rem 0.5rem;
  border-radius: 50px;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .experience-list-item {
    margin-block: 1rem;
    flex-direction: column;
    gap: 0;
  }
}
