.heading-colorful-bold {
  display: inline-block;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    var(--primary-color-dark),
    var(--accent-color-dark)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-block: 0.5rem;
}

.text-big {
  font-size: 1.125rem;
}

.cursor {
  display: inline-block;
  width: calc(0.5rem + 1vw);
  height: 1rem;
  background-color: var(--primary-color-dark);
  vertical-align: bottom;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.two-column-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.profile-image {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  width: clamp(200px, 40vw, 350px);
  height: clamp(200px, 40vw, 350px);
}

@media (max-width: 1000px) {
  .two-column-layout {
    flex-direction: column;
    gap: 2rem;
  }
}
