/* Palette: https://colorhunt.co/palette/0c356a0174beffc436fff0ce */
:root {
  --primary-text-color: #111111;
  --primary-color: #3876bf;
  --primary-color-dark: #192655;
  --accent-color: #f3f0ca;
  --accent-color-dark: #e1aa74;
  --grey-color: #373737;
  --primary-font: "Lato", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color-dark);
}

p {
  max-width: 75ch;
}

a {
  color: var(--primary-color-dark);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #eaeaea;
    --accent-color: #192655;
    --accent-color-dark: #3876bf;
    --primary-color: #e1aa74;
    --primary-color-dark: #f3f0ca;
    --grey-color: #b6b6b6;
  }
}
