:root {
  --primary-bg-color: #f4fdff;
  --secondary-bg-color: #ffffff;
  --primary-text-color: #111111;
  --primary-color-dark: #938ba1;
  --primary-color: #1c448e;
  --accent-color-dark: #e69400;
  --accent-color: #996300;
  --grey-color: #373737;
  --primary-font: "Lato", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  max-width: 75ch;
}

a {
  color: var(--accent-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color-dark);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: #111111;
    --secondary-bg-color: #222;
    --primary-text-color: #eaeaea;
    --accent-color: #82baff;
    --accent-color-dark: #64a5f7;
    --primary-color: #ebba60;
    --grey-color: #b6b6b6;
    --primary-color-dark: #9e7221;
  }
}
