/* Palette: https://colorhunt.co/palette/0c356a0174beffc436fff0ce */
:root {
  --primary-text-color: #111111;
  --primary-color: #3876bf;
  --primary-color-dark: #192655;
  --accent-color: #f3f0ca;
  --accent-color-dark: #e1aa74;
  --grey-color: #373737;
  --primary-font: "Lato", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color-dark);
}

p {
  max-width: 75ch;
}

a {
  color: var(--primary-color-dark);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.rainbow-text {
  font-weight: 700;
  cursor: url("/assets/images/hoang_is_legend_dark.svg"), auto;
  background-image: linear-gradient(
    90deg,
    #a70000,
    #c87800,
    #a6a600,
    #005a00,
    #7825a1
  );
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.3s ease;
}

.rainbow-text:hover {
  background-position: 100% 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #eaeaea;
    --accent-color: #192655;
    --accent-color-dark: #3876bf;
    --primary-color: #e1aa74;
    --primary-color-dark: #f3f0ca;
    --grey-color: #b6b6b6;
  }

  .rainbow-text {
    cursor: url("/assets/images/hoang_is_legend.svg"), auto;
    background-image: linear-gradient(
      90deg,
      #ff4d4d,
      #ffad33,
      #ffff4d,
      #33ff33,
      #dd99ff
    );
  }
}
