---
import "@styles/index.scss";
import "@styles/contact.scss";
import Layout from "@layouts/Layout.astro";
import { handleFormSubmission } from "../api/form-handler.ts";

const { errors, formSubmittedSuccessfully } = await handleFormSubmission(
  Astro.request,
);
---

<Layout>
  <h1>Let's get in touch!</h1>
  <section
    aria-live="polite"
    class:list={[
      "success-message",
      formSubmittedSuccessfully ? "" : "hide-content",
    ]}
  >
    <h2>Success! 🎉</h2>
    <p>
      Your message has been successfully sent. I appreciate you reaching out and
      I'll get back to you as soon as possible. In the meantime, feel free to
      browse my site. Thank you for getting in touch!
    </p>
    <video
      autoplay
      loop
      muted
      playsinline
      aria-label="Boy who gives the thumbs up"
      src="/assets/success_sent.webm"></video>
  </section>

  <section
    aria-live="polite"
    class:list={formSubmittedSuccessfully ? "hide-content" : ""}
  >
    <!-- Source: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form -->
    <form method="POST" id="contact-form" class="form">
      <label>
        Name:
        <input
          type="text"
          name="name"
          required
          aria-label="Your Name"
          placeholder="Your Name here..."
        />
        {errors.name && <p>{errors.name}</p>}
      </label>
      <label>
        Email:
        <input
          type="email"
          name="email"
          required
          aria-label="Your Email"
          placeholder="Your email here..."
        />
        {errors.email && <p>{errors.email}</p>}
      </label>
      <label class="two-column">
        Subject:
        <input
          type="text"
          name="subject"
          required
          aria-label="Subject of your message"
          placeholder="Write your subject here..."
        />
        {errors.subject && <p>{errors.subject}</p>}
      </label>
      <label class="two-column">
        Message:
        <textarea
          name="message"
          required
          aria-label="Your Message"
          placeholder="Write your message here..."></textarea>
        {errors.message && <p>{errors.message}</p>}
      </label>
      <button
        class="g-recaptcha"
        data-sitekey="6LdrjKYoAAAAAKTxD_31iDNVjFQzqRQAfkPd0v-j"
        data-callback="onSubmit"
        data-action="submit">Send Message</button
      >
    </form>
  </section>
  <script
    src="https://www.google.com/recaptcha/api.js?render=6LdrjKYoAAAAAKTxD_31iDNVjFQzqRQAfkPd0v-j"
    async
    defer></script>
  <script defer>
    //Source: https://docs.astro.build/en/guides/client-side-scripts/
    function onSubmit(token) {
      // @ts-ignore
      const form = document.getElementById("contact-form");
      if (form.reportValidity()) form.submit();
    }
  </script>
</Layout>
