---
import { info } from '@data/info';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import MetaHead from '@components/MetaHead.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead
            title={'Portfolio'}
            ogImageUrl={'/assets/images/profile.png'}
        />
    </head>

    <body>
        <Layout>
            <Hero name={info.name} about={info.about} />
        </Layout>
    </body>
</html>
