---

---

<h1>Register</h1>
<form>
  <label>
    Username:
    <input type="text" name="username" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  <label>
    Message:
    <textarea name="message" required minlength="6"></textarea>
  </label>
  <button>Submit</button>
</form>
