---
import { Image } from "astro:assets";
const { name, about } = Astro.props;
import image from "../../public/assets/images/profile.jpg";
---

<section class="two__column">
  <div>
    <p>Hello 👋🏻 , I'm</p>
    <h1>{name}</h1>
    <p>{about}</p>
  </div>
  <Image
    class="profile__image"
    src={image}
    alt="Profile image of Mischa Haenen"
    width="300"
    height="300"
    loading="lazy"
  />
</section>

<style>
  h1 {
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    background: linear-gradient(
      90deg,
      var(--primary-color-dark),
      var(--accent-color-dark)
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  p {
    font-size: 1.125rem;
  }

  .two__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  .profile__image {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }

  @media (max-width: 1000px) {
    .two__column {
      flex-direction: column;
    }
  }
</style>
