---
//Source: https://docs.astro.build/en/recipes/i18n/#let-users-switch-between-languages
import { languages } from "@i18n/ui";
import { getLangFromUrl } from "@i18n/utils";
import { Image } from "astro:assets";

const currentLang = getLangFromUrl(Astro.url);
const langKeys = Object.keys(languages);
const currentLangIndex = langKeys.indexOf(currentLang);
const nextLang = langKeys[(currentLangIndex + 1) % langKeys.length];

const flags = import.meta.glob<ImageMetadata>("../assets/svg/*", {
  import: "default",
});
---

{
  Object.entries(languages)
    .filter(([lang]) => lang === currentLang)
    .map(async ([lang, label]) => (
      <li class="language-switch">
        <a href={Astro.url.pathname.replace(lang, nextLang)} data-astro-reload>
          <Image
            src={await flags[`../assets/svg/${lang}.svg`]()}
            alt={`Flag of currently showed language: ${lang}`}
          />
          {label}
        </a>
      </li>
    ))
}
<style>
  .language-switch {
    list-style: none;
  }
  .language-switch a {
    text-decoration: none;
    font-weight: 700;
    display: flex;
    gap: 0.5rem;
  }
  .language-switch img {
    height: auto;
    width: 20px;
  }
</style>
