---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import logo from "../../public/favicon.svg";
import LanguagePicker from "./LanguagePicker.astro";
import "@styles/components/Navbar.scss";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <a href={`/${lang}/`}
    ><Image class="header__logo" src={logo} alt="logo" width="75" /></a
  >
  <nav>
    <ul class="navbar">
      <LanguagePicker />
      <li>
        <a href={`/${lang}/`}>
          {t("nav.home")}
        </a>
      </li>
      <li>
        <a href={`/${lang}/contact/`}>
          {t("nav.contact")}
        </a>
      </li>
    </ul>
  </nav>
</header>
