---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import logo from "../../public/favicon.svg";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <a href={`/${lang}/`}
    ><Image class="header__logo" src={logo} alt="logo" width="75" /></a
  >
  <nav>
    <ul class="navbar">
      <LanguagePicker />
      <li>
        <a href={`/${lang}/`}>
          {t("nav.home")}
        </a>
      </li>
      <li>
        <a href={`/${lang}/contact/`}>
          {t("nav.contact")}
        </a>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }

  a {
    text-decoration: none;
    font-weight: 700;
  }

  .navbar {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: end;
    gap: 2rem;
    padding-left: 0;
  }

  @media (max-width: 768px) {
    header {
      padding: 1rem;

      .header__logo {
        width: 50px;
        height: auto;
      }
    }
  }
</style>
