---
import { info } from 'src/data/info';
---

<header>
    <a href="/">{info.name}.</a>
    <nav>
        <ul>
            <li>Projects</li>
            <li>Contact</li>
            <li>Game</li>
        </ul>
    </nav>
</header>
