---
import Footer from "@components/Footer.astro";
import MetaHead from "@components/MetaHead.astro";
import Navbar from "@components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "@i18n/utils";
import "@styles/components/Layout.scss";

const language = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={language}>
  <head>
    <MetaHead title={"Portfolio"} ogImageUrl={"assets/images/profile.webp"} />
    <ViewTransitions />
  </head>

  <body>
    <Navbar />
    <main class="container" id="main">
      <slot />
    </main>
    <Footer />
    <script>
      document.addEventListener("mousemove", (e) => {
        const x = e.clientX;
        const y = e.clientY + window.scrollY;
        document.body.style.setProperty("--gradient-x", `${x}px`);
        document.body.style.setProperty("--gradient-y", `${y}px`);
      });
    </script>
  </body>
</html>
